In [3]:
import numpy as np
import pandas as pd

In [4]:
df_demo = pd.read_csv("df_final_demo.txt")
df_f_exp = pd.read_csv("df_final_experiment_clients.txt")
df_web1 = pd.read_csv("df_final_web_data_pt_1.txt")
df_web2 = pd.read_csv("df_final_web_data_pt_2.txt")

In [5]:
df_web = pd.concat([df_web1, df_web2], axis=0)
df_dupli = df_web.duplicated()
df_web = df_web.drop_duplicates()

In [6]:
df_t = pd.merge(df_demo, df_f_exp, on="client_id")

In [7]:
df = pd.merge(df_t, df_web, on="client_id")

In [8]:
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443892,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,confirm,2017-04-05 11:48:02
443893,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,step_3,2017-04-05 11:44:07
443894,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,step_2,2017-04-05 11:43:10
443895,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,884309593_49820690623_654151,step_1,2017-04-05 11:41:32
443896,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,884309593_49820690623_654151,start,2017-04-05 11:41:04

In [9]:
def column_name(data):
    data.columns = data.columns.str.replace(" ", "_")
    data.columns = data.columns.str.lower()
        
    return data

In [10]:
column_name(df)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443892,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,confirm,2017-04-05 11:48:02
443893,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,step_3,2017-04-05 11:44:07
443894,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,158544612_4105226940_43043,step_2,2017-04-05 11:43:10
443895,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,884309593_49820690623_654151,step_1,2017-04-05 11:41:32
443896,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,962766819_57063135389,884309593_49820690623_654151,start,2017-04-05 11:41:04

In [11]:
df.isnull().sum()

client_id                0
clnt_tenure_yr         113
clnt_tenure_mnth       113
clnt_age               125
gendr                  113
num_accts              113
bal                    113
calls_6_mnth           113
logons_6_mnth          113
variation           126662
visitor_id               0
visit_id                 0
process_step             0
date_time                0
dtype: int64

In [12]:
df = df.dropna()

In [13]:
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317230,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_2,2017-03-30 23:59:15
317231,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_1,2017-03-30 23:58:51
317232,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:58:40
317233,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:55:11
317234,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-31 00:16:12

In [19]:
#The key success will be:
#completion rate
#Time spent on each step
#Error rates

In [20]:
df["process_step"].value_counts()

process_step
start      101114
step_1      68184
step_2      56652
step_3      48250
confirm     42923
Name: count, dtype: int64

In [21]:
df['date_time']= pd.to_datetime(df['date_time'])
def replace_confirm(df):
    return df.applymap(lambda x: "z_confirm" if x == "confirm" else x)
df = replace_confirm(df)

C:\Users\ivanj\AppData\Local\Temp\ipykernel_24168\2282712028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_time']= pd.to_datetime(df['date_time'])
C:\Users\ivanj\AppData\Local\Temp\ipykernel_24168\2282712028.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df.applymap(lambda x: "z_confirm" if x == "confirm" else x)

In [22]:
df_test = df[df["variation"] == "Test"]
df_control = df[df["variation"] == "Control"]

In [23]:
#completion rate comparison

print(df_test["process_step"].value_counts(normalize=True))

print(df_control["process_step"].value_counts(normalize=True))

#We can conclude that the test proccess population reach the confirm step in a 14.49% of the times while with the old version it was a 12.33% of the times

process_step
start        0.315629
step_1       0.218811
step_2       0.174863
step_3       0.145804
z_confirm    0.144893
Name: proportion, dtype: float64
process_step
start        0.322895
step_1       0.210226
step_2       0.183397
step_3       0.160127
z_confirm    0.123354
Name: proportion, dtype: float64

In [24]:
step_order_control = (df_control['process_step'].shift(-1) < df_control['process_step']) | (df_control['process_step'].shift(-2) < df_control['process_step']) | (df_control['process_step'].shift(-3) < df_control['process_step']) | (df_control['process_step'].shift(-4) < df_control['process_step'])
df_control_errors = df_control[step_order_control]
number_control_erros = df_control_errors["client_id"].nunique()
number_id_control = df_control["client_id"].nunique()
prop_control_errors = number_control_erros/df_control["client_id"].nunique()
print(f"The number different client_id that we have in the test group is {number_id_control}")
print(f"The number of errors in this same group is {number_control_erros}")
print(f"the proportion is {prop_control_errors}")

The number different client_id that we have in the test group is 23526
The number of errors in this same group is 20237
the proportion is 0.8601972285981467

In [25]:
step_order_test = (df_test['process_step'].shift(-1) < df_test['process_step']) | (df_test['process_step'].shift(-2) < df_test['process_step']) | (df_test['process_step'].shift(-3) < df_test['process_step']) | (df_test['process_step'].shift(-4) < df_test['process_step'])
df_test_errors = df_test[step_order_test]
number_test_erros = df_test_errors["client_id"].nunique()
number_id_test = df_test["client_id"].nunique()
prop_test_errors = number_test_erros/df_test["client_id"].nunique()
print(f"The number different client_id that we have in the test group is {number_id_test}")
print(f"The number of errors in this same group is {number_test_erros}")
print(f"the proportion is {prop_test_errors}")

The number different client_id that we have in the test group is 26961
The number of errors in this same group is 24497
the proportion is 0.908608731130151

In [26]:
#create the filter for test

df_test = df_test.sort_values(by=['client_id', 'date_time'])
step_order_filter = (df_test['process_step'].shift(-1) >= df_test['process_step']) & (df_test['process_step'].shift(-2) >= df_test['process_step']) & (df_test['process_step'].shift(-3) >= df_test['process_step']) & (df_test['process_step'].shift(-4) >= df_test['process_step'])
df_test = df_test[step_order_filter]
df_test = df_test.drop_duplicates(subset=['client_id', 'process_step'], keep='first')
df_pivot = df_test.pivot(index='client_id', columns='process_step', values='date_time')
df_pivot['time_start_to_step1'] = (df_pivot['step_1'] - df_pivot['start']).dt.total_seconds()
df_pivot['time_step1_to_step2'] = (df_pivot['step_2'] - df_pivot['step_1']).dt.total_seconds()
df_pivot['time_step2_to_step3'] = (df_pivot['step_3'] - df_pivot['step_2']).dt.total_seconds()
df_pivot['time_step3_to_confirm'] = (df_pivot['z_confirm'] - df_pivot['step_3']).dt.total_seconds()
df_pivot = df_pivot[
    (df_pivot['time_start_to_step1'] <= 3600) &
    (df_pivot['time_step1_to_step2'] <= 3600) &
    (df_pivot['time_step2_to_step3'] <= 3600) &
    (df_pivot['time_step3_to_confirm'] <= 3600) &
    (df_pivot["time_step3_to_confirm"] > 0)
]

In [27]:
#create the filter for control

df_control = df_control.sort_values(by=['client_id', 'date_time'])
step_order_filter_control = (df_control['process_step'].shift(-1) >= df_control['process_step']) & (df_control['process_step'].shift(-2) >= df_control['process_step']) & (df_control['process_step'].shift(-3) >= df_control['process_step']) & (df_control['process_step'].shift(-4) >= df_control['process_step'])
df_control = df_control[step_order_filter_control]
df_control = df_control.drop_duplicates(subset=['client_id', 'process_step'], keep='first')
df_pivot_control = df_control.pivot(index='client_id', columns='process_step', values='date_time')
df_pivot_control['time_start_to_step1'] = (df_pivot_control['step_1'] - df_pivot_control['start']).dt.total_seconds()
df_pivot_control['time_step1_to_step2'] = (df_pivot_control['step_2'] - df_pivot_control['step_1']).dt.total_seconds()
df_pivot_control['time_step2_to_step3'] = (df_pivot_control['step_3'] - df_pivot_control['step_2']).dt.total_seconds()
df_pivot_control['time_step3_to_confirm'] = (df_pivot_control['z_confirm'] - df_pivot_control['step_3']).dt.total_seconds()
df_pivot_control = df_pivot_control[
    (df_pivot_control['time_start_to_step1'] <= 3600) &
    (df_pivot_control['time_step1_to_step2'] <= 3600) &
    (df_pivot_control['time_step2_to_step3'] <= 3600) &
    (df_pivot_control['time_step3_to_confirm'] <= 3600) &
    (df_pivot_control["time_step3_to_confirm"] > 0)
]

In [28]:
print(df_pivot["time_start_to_step1"].mean())
print(df_pivot["time_step1_to_step2"].mean())
print(df_pivot["time_step2_to_step3"].mean())
print(df_pivot["time_step3_to_confirm"].mean())

106.39453125
79.91796875
106.43359375
114.17578125

In [29]:
print(df_pivot_control["time_start_to_step1"].mean())
print(df_pivot_control["time_step1_to_step2"].mean())
print(df_pivot_control["time_step2_to_step3"].mean())
print(df_pivot_control["time_step3_to_confirm"].mean())

103.33333333333333
43.44444444444444
94.11111111111111
138.85185185185185

In [30]:
#Since the new design (Test group) had a higher completion rate compared to the old design (Control group), you are required to confirm if this difference is statistically significant.
import scipy.stats as st

df_test['completed'] = df_test['process_step'].apply(lambda x: 1 if x == 'z_confirm' else 0)
df_control['completed'] = df_control['process_step'].apply(lambda x: 1 if x == 'z_confirm' else 0)

In [31]:
#COMPLETION IN TEST
completions_control = df_control['completed']
total_control = df_control['client_id'].count()
completions_test = df_test['completed']
total_test = df_test['client_id'].count()
print(df_test[df_test["process_step"] == "z_confirm"]["process_step"].count())
print(df_control[df_control["process_step"] == "z_confirm"]["process_step"].count())

383
56

In [33]:
counts = [completions_test, completions_control]
nobs = [total_test, total_control]

In [34]:
st.ttest_ind(completions_control,completions_test, equal_var=False)

#We can say that the p-value is telling us to reject the null hipothesis of test and control being the same

TtestResult(statistic=-14.694263434120467, pvalue=8.847186949457921e-49, df=50571.7399459603)

In [35]:
control_completed_rate = ((completions_control.sum() / total_control)*100)
improve_5 = 1496.45

In [36]:
#5% minimum improvement

st.ttest_1samp(completions_test, improve_5, alternative = "less")

#We can say that there is no possibility to have the 5% improvement

TtestResult(statistic=-2779601.069778113, pvalue=0.0, df=36158)

In [41]:
print(df_test["client_id"].nunique())
print(df_control["client_id"].nunique())

26728
23415

In [46]:
#detailed about the data

# 1. Was the experiment well-structured? In terms of data comparison and how the population in each variance is pretty similar in terms of population with a difference of almost 3.000 after the cleaning, age, tenure years...

# 2. They are been divided to have pretty similar populations

# 3. Possible biances could be the minimum years in the tenure

In [65]:
#Was the timeframe of the experiment (from 3/15/2017 to 6/20/2017) adequate to gather meaningful data and insights?

#This is a consider good time period for an experiment which could take you no more than 1 hour

In [50]:
#TTest of the different times in each process step

print(st.ttest_ind(df_pivot["time_start_to_step1"],df_pivot_control["time_start_to_step1"], equal_var=False))
print(st.ttest_ind(df_pivot["time_step1_to_step2"],df_pivot_control["time_step1_to_step2"], equal_var=False))
print(st.ttest_ind(df_pivot["time_step2_to_step3"],df_pivot_control["time_step2_to_step3"], equal_var=False))
print(st.ttest_ind(df_pivot["time_step3_to_confirm"],df_pivot_control["time_step3_to_confirm"], equal_var=False))

TtestResult(statistic=0.06476056133395083, pvalue=0.9487867786729918, df=30.534217600199682)
TtestResult(statistic=1.8544470717340025, pvalue=0.06528949415141881, df=182.41031549711408)
TtestResult(statistic=0.6835981671465362, pvalue=0.49670909877077263, df=63.674486899603714)
TtestResult(statistic=-0.9697212357029192, pvalue=0.33835645761539324, df=37.75888472977829)

In [68]:
df_control_errors.to_excel("control_error.xlsx")
df_test_errors.to_excel("test_error.xlsx")

In [ ]:
df.to_excel("df_completa.xlsx")

In [ ]:
df_test.to_excel("df_test.xlsx")
df_control.to_excel("df_control.xlsx")

In [69]:
df_pivot.to_excel("pivot_test.xlsx")
df_pivot_control.to_excel("pivot_control.xlsx")

In [ ]:
df_test_errors.to_excel("df_test.xlsx")